<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Sirius Componentization Definition -->
   <extension point="org.eclipse.sirius.componentization">
      <component
            id="org.karpfen.roundtrip.plugin"
            name="karpfen"
            viewpointRegistryModel="description/karpfen.odesign">
      </component>
   </extension>

   <!-- Early Startup to guarantee bundle activation on boot -->
   <extension point="org.eclipse.ui.startup">
      <startup class="org.karpfen.design.KarpfenStartup"/>
   </extension>
</plugin>